@import "./tailwind.min.css";

html, body, #__next, #app {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: white;
    background: #242424;
    color-scheme: dark;
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Tailwind extents
.tw-no-select {
    -webkit-touch-callout: none;
    user-select: none;
}

.tw-no-highlights {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tw-scroll {
    flex: 1;
    overflow: auto;
    height: 100%;
}

*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-thumb {
    background-color: #6b6b6b;
    outline: 1px solid #525252;
    border-radius: 4px;
}

:root {
    --offset-2: 2px;
    --offset-4: 4px;
    --offset-8: 8px;
    --offset-10: 10px;
    --offset-20: 20px;
}

.get-sizes(@prop, @dir, @size, @value) {
    &-@{size} {
        & when not (@dir = full) {
            @{prop}-@{dir}: @value;
        }
        & when (@dir = full) {
            @{prop}: @value;
        }
    }
}

.sizes-mixin(@prop, @dir) {
    .get-sizes(@prop, @dir, auto, auto);
    .get-sizes(@prop, @dir, 2, var(--offset-2));
    .get-sizes(@prop, @dir, 4, var(--offset-4));
    .get-sizes(@prop, @dir, 8, var(--offset-8));
    .get-sizes(@prop, @dir, 10, var(--offset-10));
    .get-sizes(@prop, @dir, 20, var(--offset-20));
}

.direction-mixin(@prefix) {
    .sizes-mixin(@prefix, full);
    &t {
        .sizes-mixin(@prefix, top);
    }
    &r {
        .sizes-mixin(@prefix, right);
    }
    &b {
        .sizes-mixin(@prefix, bottom);
    }
    &l {
        .sizes-mixin(@prefix, left);
    }
}

.tw {
    &-m {
        .direction-mixin(margin);
    }
    &-p {
        .direction-mixin(padding);
    }
}
