.input {
    height: 27px;
    width: 27px;
    scroll-snap-type: y mandatory;
    /* overflow-y: scroll; */
}

.input::-webkit-scrollbar {
    display: none;
}

.input {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.item {
    scroll-snap-stop: always;
    scroll-snap-align: center;
}

.col {
    background-color: #242424;
}
